.bg-azul {
    background-color: #7fccff; 
}

.carousel {
    max-width: 800px;   
    margin: 0 auto;     
}

.img-carrusel {
    height: 500px;     
    object-fit: cover;   
}

.carousel-item img {
    max-height: 600px;  
    object-fit: cover;  
    border-radius: 10px; 
}

.subtitulo {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.texto-parrafo {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
}

.h1 {
    font-size: 1.5rem;  
    color: #7d858f60;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top:20px;
    font-size: 2rem;  
    color: #06d11ecc;
    text-align: center;
    margin-bottom: 20px;
    background-color: aquamarine;
}

h3 {
    text-align: center;
    color: #0bd1e8;
    margin-bottom: 20px;
}

.footer {
    background-color: #4d96df;     
    color: #000000;              
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.btn-registro {
    background-color: #0edd3b;
    color: white;
    border: none;
    font-weight: bold;
}

.btn-registro:hover {
    background-color: #165eab;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.formulario-registro {
    background-color: #ffffff; 
    border-radius: 12px; 
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    border: 1px solid #e0e0e0; 
    max-width: 450px;
    margin: 50px auto;
}