{% extends "base.html" %}
{% block title %}Acerca de...{% endblock %}
{% block content %}
    <h2 class="subtitulo">Acerca de mí:</h2>
        <p class="texto-parrafo">
            <strong>Sobre mí:</strong> Me gusta el anime, los videojuegos y todo lo relacionado con la inteligencia artificial. Disfruto explorar nuevos mundos, aprender cosas nuevas y combinar mis pasiones para crear experiencias únicas. En el futuro quiero seguir creciendo en lo que me gusta y compartirlo con otras personas.
        </p>
        <p class="texto-parrafo">
            <strong>De La Cruz Rodríguez Sergio René. 5.D</strong>
        </p>
{% endblock %}