{% extends "base.html" %}
{% block title %}Animales Exóticos{% endblock %}
{% block content %}
    <h2>Animales Exóticos:</h2>
    
    <h3>Animales Terrestres.</h3> 
    
    <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p class="texto-parrafo">
                <strong>Gato Montés:</strong> Felino salvaje ágil y sigiloso, adaptado a bosques, montañas y zonas rocosas. Su pelaje moteado le proporciona camuflaje perfecto entre la vegetación, mientras sus orejas puntiagudas con mechones negros mejoran su audición. Es un cazador solitario y territorial, que se alimenta principalmente de pequeños mamíferos, aves y reptiles. Este animal destaca por su resistencia y adaptación, siendo un símbolo de la vida salvaje y la diversidad de ecosistemas.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/gato_montes.png" class="img-fluid rounded" alt="Gato Montés.">
        </div>
    </div>

    <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p class="texto-parrafo">
                <strong>Pangolín:</strong> Mamífero nocturno y solitario, conocido por sus características escamas duras hechas de queratina, únicas en el reino animal. Utiliza su larga lengua pegajosa para alimentarse principalmente de hormigas y termitas. A pesar de su aspecto curioso y defensivo, el pangolín es una especie vulnerable debido a la caza furtiva y el tráfico ilegal. Representa la delicada relación entre la naturaleza y la conservación.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/Pangolin.png" class="img-fluid rounded" alt="Pangolín.">
        </div>
    </div>

    <h3>Animales Marinos.</h3> 

    <!-- Texto a la derecha e imagen a la izquierda -->
    <div class="row align-items-center my-4">
    <div class="col-md-6 text-center">
        <img src="static/Axolote.png" class="img-fluid rounded" alt="Axolote.">
    </div>
    <div class="col-md-6">
        <p class="texto-parrafo">
            <strong>Axolote:</strong> Fascinante anfibio originario de México, conocido por su apariencia única y su capacidad de regenerar extremidades, órganos e incluso partes del cerebro. Vive principalmente en lagos y canales, como los de Xochimilco, y mantiene características juveniles durante toda su vida, un fenómeno llamado neotenia. Este símbolo de biodiversidad está en peligro crítico debido a la pérdida de hábitat y la contaminación, convirtiéndolo en un emblema de conservación.
        </p>
    </div>
</div>

    <div class="row align-items-center my-4">
    <div class="col-md-6 text-center">
        <img src="static/Pez_Mandarin.png" class="img-fluid rounded" alt="Pez Mandarin.">
    </div>
    <div class="col-md-6">
        <p class="texto-parrafo">
            <strong>Pez Mandarín:</strong> Pez pequeño y colorido, famoso por su vibrante combinación de azul, naranja y verde. Habita principalmente en arrecifes de coral del Pacífico occidental. Su belleza se complementa con un comportamiento pacífico, nadando lentamente y utilizando sus aletas pectorales para moverse con gracia. Es un pez de interés para acuarios marinos, aunque su reproducción en cautiverio es compleja, lo que lo convierte en un símbolo de la fragilidad y riqueza de los ecosistemas marinos.
        </p>
    </div>
</div>

    <h3>Animales Aéreos.</h3> 

    <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p class="texto-parrafo">
                <strong>Cóndor Andino:</strong> Ave rapaz de gran envergadura, considerada una de las más grandes del mundo, con alas que pueden superar los 3 metros. Habita en las montañas y zonas altas de los Andes de Sudamérica. Su plumaje negro con detalles blancos y su imponente vuelo lo hacen un símbolo cultural y espiritual en varias comunidades andinas. Es carroñero, desempeñando un papel vital en el ecosistema al limpiar restos de animales. Está catalogado como especie casi amenazada debido a la pérdida de hábitat y la caza.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/Condor_Andino.png" class="img-fluid rounded" alt="Cóndor Andino.">
        </div>
    </div>

    <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p class="texto-parrafo">
                <strong>Quetzal:</strong> Ave tropical de colores brillantes, con plumaje verde esmeralda y pecho rojo intenso, famosa por sus largas plumas de cola. Habita bosques nubosos de Centroamérica, especialmente en Guatemala, donde es símbolo nacional. Se alimenta de frutas, insectos y pequeños vertebrados. Su belleza y rareza lo convierten en un emblema de conservación, ya que está amenazado por la deforestación y la pérdida de hábitat.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/Quetzal.png" class="img-fluid rounded" alt="Quetzal.">
        </div>
    </div>
{% endblock %}