{% extends "base.html" %}
{% block title %}Vehículos Antiguos{% endblock %}
{% block content %}
    <h2>Vehículos Antiguos:</h2>
        <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p class="texto-parrafo">
                <strong>Ford Model T:</strong> Felino salvaje ágil y sigiloso, adaptado a bosques, montañas y zonas rocosas. Su pelaje moteado le proporciona camuflaje perfecto entre la vegetación, mientras sus orejas puntiagudas con mechones negros mejoran su audición. Es un cazador solitario y territorial, que se alimenta principalmente de pequeños mamíferos, aves y reptiles. Este animal destaca por su resistencia y adaptación, siendo un símbolo de la vida salvaje y la diversidad de ecosistemas.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/Ford_Model_T.png" class="img-fluid rounded" alt="Auto antiguo Ford.">
        </div>
    </div>


    <div class="row align-items-center my-4">
    <div class="col-md-6 text-center">
        <img src="static/Rolls_Royce_Silver_Ghost.png" class="img-fluid rounded" alt="Auto antiguo Rolls-Royce.">
    </div>
    <div class="col-md-6">
        <p class="texto-parrafo">
            <strong>Rolls-Royce Silver Ghost:</strong> Fascinante anfibio originario de México, conocido por su apariencia única y su capacidad de regenerar extremidades, órganos e incluso partes del cerebro. Vive principalmente en lagos y canales, como los de Xochimilco, y mantiene características juveniles durante toda su vida, un fenómeno llamado neotenia. Este símbolo de biodiversidad está en peligro crítico debido a la pérdida de hábitat y la contaminación, convirtiéndolo en un emblema de conservación.
        </p>
    </div>
</div>
{% endblock %}