{% extends "base.html" %}
{% block title %}Vehículos Antiguos{% endblock %}
{% block content %}
    <h2>Vehículos Antiguos:</h2>
        <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p class="texto-parrafo">
                <strong>Ford Model T:</strong> Lanzado en 1908, fue el primer automóvil producido en masa, revolucionando la industria automotriz gracias a la línea de ensamblaje creada por Henry Ford. Accesible y confiable, permitió que miles de personas pudieran adquirir un vehículo propio, marcando el inicio de la era moderna del transporte.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/Ford_Model_T.png" class="img-fluid rounded" alt="Auto antiguo Ford.">
        </div>
    </div>


    <div class="row align-items-center my-4">
    <div class="col-md-6 text-center">
        <img src="static/Rolls_Royce_Silver_Ghost.png" class="img-fluid rounded" alt="Auto antiguo Rolls-Royce.">
    </div>
    <div class="col-md-6">
        <p class="texto-parrafo">
            <strong>Rolls-Royce Silver Ghost:</strong> Presentado en 1906, es considerado uno de los automóviles más lujosos y confiables de su época. Su nombre proviene de la suavidad y silencio de su marcha, que lo hacían parecer un “fantasma plateado”. Simboliza elegancia, precisión y la excelencia británica en ingeniería.
        </p>
    </div>
</div>
{% endblock %}